<div class="page">

    <div class="main-content" role="main">

        <article class="article">

            {{> components/headings}}

            {{> components/checkbox checkbox.special}}

            {{> components/radio-button }}

            {{> components/paragraph paragraph}}

            {{> components/textbox}}


        </article>

    </div>

</div>