.navbar {
  background: map-get($colors, navbar);
  color: map-get($colors, whisper);
}

.brand {
  margin: 0;
}

.brand__link {
  @include display(inline-block);

  padding: 20px 0;
  font-size: $h3-size;

  &:hover,
  &:focus {
    color: map-get($colors, white);
  }
}

.brand__name {
  font-size: $h4-size;
  text-transform: uppercase;
  color: map-get($colors, red);
}

.navbar-links {
  @extend %unstyled-list;
}

.navbar-link {
  @include display(inline-block);

  padding: 2rem;
  color: map-get($colors, links);

  &:first-child {
    padding-left: 0;
  }
}


