.navbar {
  background: map-get($colors, navbar);
  color: map-get($colors, whisper);
}

.navbar-brand {
  margin: 0;
}

.navbar-brand__image {
  max-width: 120px;
}

.navbar-brand__name {
  @include visually-hidden;
}

.navbar-navlist {
  @extend %unstyled-list;
}

.navbar-navlist__item {
  @include display(inline-block);
}

.navbar-navlist__link {
  @include display(block);

  padding: 1rem;
  color: map-get($colors, white);
}


