.navbar {
  background: map-get($colors, navbar);
  color: map-get($colors, whisper);
}

.navbar-brand {
  margin: 0;
}

.navbar-brand__link {
  @include display(inline-block);

  padding: 20px 0;
  font-size: $h4-size;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: map-get($colors, white);


  &:hover,
  &:focus {
    color: map-get($colors, white);
  }
}

.navbar-navlist {
  @extend %unstyled-list;
}

.navbar-navlist__item {
  @include display(inline-block);
}

.navbar-navlist__link {
  @include display(block);

  padding: 25px;
  color: map-get($colors, white);
}


