<header class="page-banner page-banner--home" role="banner">

  <div class="grid-container">

    <div class="grid-70 push-30">

      <div class="banner-text--home">

        {{{md 'src/templates/content/home-intro.md'}}}

      </div>

    </div>

    <div class="grid-30 pull-80">

      <div class="banner-image banner-image--scalable">

        <object type="image/svg+xml" data="public/vectors/{{site.logos.svg}}" class="brand__logo">
        </object>

      </div>

  </div>

</header>
