<div class="menu">

  <div class="brand">
    <img class="brand__image" src="{{assets}}/images/onenorth_logo_sm.png" alt="{{site.title}}" />
  </div>

  <nav class="nav">

    <ul class="nav-list">

      <li class="nav-item">Item 1</li>
      <li class="nav-item">Item 2</li>
      <li class="nav-item">Item 3</li>
      <li class="nav-item">Item 4</li>

    </ul>

  </nav>

</div>
