<!DOCTYPE html>

<html>

  <head>

    {{> layout/head }}

  </head>

  <body id="default" class="l-default {{bodyClass}}">

    {{> structures/default-page-header }}

    {{{body}}}

    {{> layout/scripts }}

  </body>

</html>
