<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>

  <body class="home" id="home">

    <div class="page-wrapper">

      {{> navbar }}

      {{> home-banner }}

      <div class="content grid-container" role="main">

        {{> aside }}

        <article class="article article--home grid-70">

          {% body %}

        </article>

      </div>

    </div>

    {{> scripts }}

  </body>

</html>
