// FONT FAMILY
$font-family-normal: 'Lato', Helvetica, Arial, sans-serif;
$font-family-heading: 'Lato', Helvetica, Arial, sans-serif;

// BASE LINE HEIGHT
$base-line-height: 1.4;

$measure: 40em;


body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}