//==================
// Theme Colors
// =================
$base-colors: (
    dark: rgb(30, 30, 30),
    medium: rgb(160, 160, 160),
    light: rgb(242, 242, 242),
    black: rgb(0, 0, 0),
    white: rgb(255, 255, 255),
    blue: rgb(41, 63, 84),
    lightblue: rgb(90, 149, 229),
    red: rgb(205, 24, 32)
);

$theme-light: (
    normal: darken(map-get($base-colors, medium), 10%),
    emphasis: map-get($base-colors, red),
    whisper: lighten(map-get($base-colors, medium), 40%),
    links: map-get($base-colors, red),
    menu-background: map-get($base-colors, light),
    navbar: map-get($base-colors, white)
);

$theme-medium: (
    normal: darken(map-get($base-colors, medium), 15%),
    emphasis: map-get($base-colors, medium),
    whisper: lighten(map-get($base-colors, medium), 30%),
    links: map-get($base-colors, dark),
    menu-background: lighten(map-get($base-colors, medium), 50%),
    navbar: map-get($base-colors, medium),
);

$theme-dark: (
    normal: map-get($base-colors, medium),
    emphasis: map-get($base-colors, light),
    whisper: lighten(map-get($base-colors, medium), 20%),
    links: map-get($base-colors, medium),
    menu-background: map-get($base-colors, dark),
    navbar: map-get($base-colors, red)
);

$theme: $theme-light;

$colors: map-merge($base-colors, $theme);

//==================
// Vertical Rhythm
// =================
$default-spacing: 1rem;



